Welcome= Menneskelig samling ver.
TabHeading= _____________________________________________________________________________________________________________________________________________________________________________________________________
TabHead=    |  ID  | Navn                         | Koordinater  | Opprettelsesdato                                   | Høyde  | Fødselsdag | Øyenfarge  | Hair color | PlaCords    | Stedsnavn                 |
MidLine=    |------|------------------------------|--------------|----------------------------------------------------|--------|------------|------------|------------|-------------|---------------------------|
EndLine=    |______|______________________________|______________|____________________________________________________|________|____________|____________|____________|_____________|___________________________|
ConfigError= Feil under lesing av config, avslutter...
Commitment= Vil du fortsette? (J/N)
RedundantArgs= Kommandoen krever ingen argumenter
NotEnoughArgs= Kommando krever gyldige argumenter!
SyntaxException= Ugyldig syntaks!
LoopExecute= Filen er skriptet blir allerede utført! Hoppet over...
NoHistory= -Ingen tidligere historie-
HistHeading= --Siste %3d kommandoer--
NoSuchCommand= er ikke en indre eller ytre kommando, kjørbart skript eller pakkefil
CollectionLoad= Laster inn samling fra fil...
DataFileNotFound= - Datafilen ble ikke funnet. Ingen data vil bli lastet inn
DataNoAccess= - Ingen tilgang til angitt datafil. Data vil ikke bli lastet inn
DataIOError= - Ubehandlet IOException under lesing av datafilen. Ingen data vil bli lastet inn
EmptyCollection= Samlingen er tom!
Done= Ferdig.
Total= Totalt - %d elementer
FieldList=Navn,Koordinat X - Dobbel,Koordinat Y - Heltall ,Høyde - >0,Fødselsdag/Eksempel>2020-06-22,Øyefarge/BlÅ ORANSJE BRUNN,Hårfarge/RØD BLÅ GUL ORANSJE,Plasseringskoordinat X - Float, Plasseringskoordinat Y - Float, Plasseringsnavn
TypeField= Vennligst skriv inn felt>
EmptySearch= Tomt søk!
CommandList=help/info/show/add/update/remove_by_id/clear/save/execute_script/exit/remove_first/remove_lower/history/filter_greater_than_birthday/print_ascending/print_field_descending_location
Recon/necting= Prøver å koble til serveren...
ConnectionAccept= Koblet til serveren.
ConnectionFalse= Kan ikke koble til adressen... Kontroller egnethet.
ConnectionFail= Samlingsserver er ikke tilgjengelig...
CannotConnect= Kan ikke koble til serveren. Prøv senere.
ReconnectIn= Kobler til på nytt om 10 sekunder...
NotConnected= Ikke koblet til server!
DataLoss= Forbindelse mistet! Prøver å koble til på nytt...
NoResponse= Serveren svarte ikke riktig...
Offline= Fortsett om du vil være frakoblet.
Closing= Avslutter forbindelse til serveren...
RequestError= Mistet forbindelsen til serveren. Koble til på nytt
NewAcc= Registrert ny konto>>>
SucAcc= Vellykket pålogging>>>
Queue= Server under høy belastning. Venter på data...
CliMode=Konsollmodus!
RegTitle = Registrering/autorisasjon
Console= Konsoll
Table=Tabell
Title=Menneskelig samling
LoginLabel=|----<Pålogging>----|
PassLabel=|--<Passord>--|
Re-login=Logg inn på nytt
Exit=Avslutt
Refresh=Oppdater
Graphic=Grafisk info
LoginRule=Pålogging bør ha minst 4 symboler
PassRule=Passord skal være minst 4 symboler
Add=Legg til
Cancel=Avbryt
OK=OK
AskId=|-<Skriv inn objekt-ID>-|
Remove=Slett
Wait=Vente...
Execute=Skriv inn hele banen til filen
ButtEx=Henrette