Welcome= Коллекция челов ver.
TabHeading= _____________________________________________________________________________________________________________________________________________________________________________________________________
TabHead=    |  ID  | Имя                          | Координаты   | Дата и время создания                              | Рост   | Д. рожден. | Цвет глаз  | Цвет волос | КордМеста   | Наименование места        |
MidLine=    |------|------------------------------|--------------|----------------------------------------------------|--------|------------|------------|------------|-------------|---------------------------|
EndLine=    |______|______________________________|______________|____________________________________________________|________|____________|____________|____________|_____________|___________________________|
ConfigCorrupt= Файл конфига не найден, завершаю...
ConfigError= Ошибка во время чтения конфига...
Commitment= Вы хотите продолжить? (Y/N)
RedundantArgs= Команда не требует аргументов
NotEnoughArgs= Команда требует подходящих аргументов!
SyntaxException= Неправильное выражение!
LoopExecute= Файл стаким именем уже исполняется! Пропущено...
NoHistory= -Нет предыдущей истории-
HistHeading= --Последние(яя) %3d команды(а)--
NoSuchCommand=  не является внутренней или внешней командой, исполняемой программой или пакетным файлом.
CollectionLoad= Загрузка коллекции из файла...
DataFileNotFound= - Не найден файл с данными. Таковые не будут загружены...
DataNoAccess= - Нет доступа к файлу с данными. Таковые не будут загружены...
DataIOError= - Неизвестная ошибка при чтении файла данных. Данные не будут загружены...
EmptyCollection= Коллекция пуста!
Done= Завершено.
Total= Всего - %d элементов(а)
FieldList=Имя,Координата X - Double,Координата Y - Integer ,Рост - >0,День рождения/Пример>2020-06-22,Цвет глаз/BLUE ORANGE BROWN,Цвет волос/RED BLUE YELLOW ORANGE,Координата места X - Float,Координата места Y - Float,Название места
TypeField= Введите поле>
EmptySearch= Пустой поиск!
CommandList=help/info/show/add/update/remove_by_id/clear/save/execute_script/exit/remove_first/remove_lower/history/filter_greater_than_birthday/print_ascending/print_field_descending_location
Reconnecting= Пытаюсь подключиться к серверу...
ConnectionAccept= Подключение к серверу успешно.
ConnectionFalse= Не могу найти адрес... Проверьте натройки.
ConnectionFail= Сервер с данными недоступен...
CannotConnect= Не могу подключиться к серверу. Попробуйте позже.
ReconnectIn= Переподключение через 10 секунд...
NotConnected= Нет подключения к серверу!
DataLoss= Подключение утеряно! Пробую переподключиться...
NoResponse= Сервер ответил некорректно...
Offline= Продолжите, если хотите остаться в офлайн режиме.
Closing= Отключаюсь от сервера...
RequestError= Потеряно соединение с сервером. Переподключитесь.
NewAcc= Зарегистрирован новый аккаунт>>>
SucAcc= Успешная авторизация>>>
Queue= Сервер под высокой нагрузкой. Ожидаю...
CliMode=Консолльный режим!
RegTitle = Регистрация/Авторизация
Console=Консоль
Table=Таблица
Title=Коллекция челов
LoginLabel=|----<Логин>----|
PassLabel= |----<Пароль>---|
Re-login=Подключение
Exit=Выход
Refresh=Обновить
Graphic=Графическое представление данных
LoginRule=Логин должен содержать минимум 4 символа
PassRule=Пароль должен содержать минимум 4 символа
Add=Добавить
Cancel=Отмена
OK=OK