Welcome= Colección humana ver.
TabHeading= _____________________________________________________________________________________________________________________________________________________________________________________________________
TabHead=    |  ID  | Nombre                       | Coordenadas  | Fecha de creación                                  | Altura | Cumpleaños | Ojos       | Pelo       | LocCords    | Nombre de la ubicación    |
MidLine=    |------|------------------------------|--------------|----------------------------------------------------|--------|------------|------------|------------|-------------|---------------------------|
EndLine=    |______|______________________________|______________|____________________________________________________|________|____________|____________|____________|_____________|___________________________|
ConfigCorrupt=Archivo de configuración no encontrado, saliendo...
ConfigError=Error al leer la configuración, salir...
Commitment= ¿Desea continuar? (S/N)
RedundantArgs= El comando no requiere ningún argumento
NotEnoughArgs= ¡El comando requiere argumentos válidos!
SyntaxException= ¡Sintaxis no válida!
LoopExecute= ¡El archivo ya se está ejecutando! saltado...
NoHistory= -Sin historial previo-
HistHeading= --Últimos %3d comandos--
NoSuchCommand= no es un comando interno o externo, un script ejecutable o un archivo de paquete
CollectionLoad= Cargando colección desde archivo...
DataFileNotFound= - Archivo de datos no encontrado. No se cargarán datos
DataNoAccess= - Sin acceso al archivo de datos designado. No se cargarán datos
DataIOError= - IOException no controlada al leer el archivo de datos. No se cargarán datos
EmptyCollection= ¡La colección está vacía!
Done= Listo.
Total= Total - %d elementos
FieldList=Nombre, Coordenada X - Double, Coordenada Y - Integer, Altura - >0, Cumpleaños/Ejemplo>2020-06-22, Color de ojos/BLUE ORANGE BROWN, Color de cabello/RED BLUE YELLOW ORANGE, Ubicación Coordenada X - Float, Ubicación Coordenada Y - Float, Nombre de la ubicación
TypeField= Por favor ingrese el campo>
EmptySearch= ¡Búsqueda vacía!
CommandList=help/info/show/add/update/remove_by_id/clear/save/execute_script/exit/remove_first/remove_lower/history/filter_greater_than_birthday/print_ascending/print_field_descending_location
Reconnecting= Intentando conectarme al servidor...
ConnectionAccept= Conectado con éxito al servidor.
ConnectionFalse= No se puede conectar a la dirección... Verifique la propiedad.
ConnectionFail= El servidor de recopilación no está disponible...
CannotConnect= No se puede conectar al servidor. Intenta más tarde.
ReconnectIn= Reconectando en 10 segundos...
NotConnected= ¡No conectado al servidor!
DataLoss= ¡Se perdió la conexión! Intentando volver a conectar...
NoResponse= El servidor no respondió correctamente...
Offline= Continúe si desea permanecer desconectado.
Closing= Cerrando la conexión con el servidor...
RequestError= Conexión perdida con el servidor. Por favor, vuelva a conectar
NewAcc= Nueva cuenta registrada>>>
SucAcc= Inicio de sesión exitoso>>>
Queue= Servidor con mucha carga. Esperando datos...
CliMode=¡Modo consola!
RegTitle = Registro/Autorización
Console= Consola
Table=Tabla
Title=Colección humana
LoginLabel=|----<Inicio de sesión>----|
PassLabel=|--<Contraseña>--|
Re-login= Volver a iniciar sesión
Exit=Salir
Refresh=Refrescar
Graphic=Información gráfica
LoginRule=El inicio de sesión debe tener al menos 4 símbolos
PassRule=La contraseña debe tener al menos 4 símbolos
Add=Agregar
Cancel=Cancelar
OK=OK
AskId=|-<Ingrese la ID del objeto>-|
Remove=Borrar
Wait=Esperar...