Welcome= Human collection ver.
TabHeading= _____________________________________________________________________________________________________________________________________________________________________________________________________
TabHead=    |  ID  | Name                         | Coordinates  | Creation date                                      | Height |  Birthday  | Eye color  | Hair color | LocCords    | Location Name             |
MidLine=    |------|------------------------------|--------------|----------------------------------------------------|--------|------------|------------|------------|-------------|---------------------------|
EndLine=    |______|______________________________|______________|____________________________________________________|________|____________|____________|____________|_____________|___________________________|
ConfigCorrupt= Config file not found, exiting...
ConfigError= Error while reading config, exiting...
Commitment= Would you like to proceed? (Y/N)
RedundantArgs= Command does not require any arguments
NotEnoughArgs= Command require valid arguments!
SyntaxException= Invalid syntax!
LoopExecute= File is script is already being executed! Skipped...
NoHistory= -No previous history-
HistHeading= --Last %3d commands--
NoSuchCommand= is not an inner or outer command, executable script or package file
CollectionLoad= Loading collection from file...
DataFileNotFound= - Data file not found. No data will be loaded
DataNoAccess= - No access to designated data file. Data will not be loaded
DataIOError= - Unhandled IOException while reading the data file. No data will be loaded
EmptyCollection= Collection is empty!
Done= Done.
Total= Total - %d elements
FieldList=Имя,Координата X - Double,Координата Y - Integer ,Рост - >0,Дата рождения/Пример>2020-06-22,Цвет глаз/BLUE ORANGE BROWN,Цвет волос/RED BLUE YELLOW ORANGE,Координата места X - Float,Координата места Y - Float,Название места
TypeField= Please enter field>
EmptySearch= Empty search!
CommandList=help/info/show/add/update/remove_by_id/clear/save/execute_script/exit/remove_first/remove_lower/history/filter_greater_than_birthday/print_ascending/print_field_descending_location
Reconnecting= Trying to connect to the server...
ConnectionAccept= Successfully connected to server.
ConnectionFalse= Cannot connect to address... Check propriety.
ConnectionFail= Collection Server is unreachable...
CannotConnect= Cannot connect to server. Try later.
ReconnectIn= Reconnecting in 10 seconds...
NotConnected= Not connected to server!
DataLoss= Connection lost! Trying to reconnect...
NoResponse= Server did not response properly...
Offline= Proceed whether you want to stay offline.
Closing= Closing connection to the server...
RequestError= Lost connection to server. Please reconnect
NewAcc= Registered new account>>>
SucAcc= Successful login>>>
Queue= Server under high load. Waiting for data...
CliMode=Console mode!
RegTitle = Регистрация/Авторизация
Console=Консоль
Table=Таблица
Title=Коллекция челов
LoginLabel=|----<Логин>----|
PassLabel= |----<Пароль>---|
Re-login=Подключение
Exit=Выход
Refresh=Обновить
Graphic=Графическое представление данных
LoginRule=Логин должен содержать минимум 4 символа
PassRule=Пароль должен содержать минимум 4 символа
Add=Добавить
Cancel=Отмена
OK=OK
AskId=|-<Введите ID объекта>-|
Remove=Удалить
Wait=Подождите...
Execute=Введите полный путь к файлу
ButtEx=Выполнить