Welcome= Žmonių kolekcija ver.
TabHeading= _____________________________________________________________________________________________________________________________________________________________________________________________________
TabHead=    |  ID  | Vardas                       | Koordinatės  | Sukūrimo data                                      |Aukštis |Gimtadienis |Akių spalva |Plaukų sp-a | LocCords    |        Vietos pavadinimas |
MidLine=    |------|------------------------------|--------------|----------------------------------------------------|--------|------------|------------|------------|-------------|---------------------------|
EndLine=    |______|______________________________|______________|____________________________________________________|________|____________|____________|____________|_____________|___________________________|
ConfigCorrupt= Konfigūracijos failas nerastas, išeinama...
ConfigError= Klaida skaitant konfigūraciją, išeinant...
Commitment= Ar norėtumėte tęsti? (Y/N)
RedundantArgs= Komandai nereikia jokių argumentų
NotEnoughArgs= Komandai reikalingi tinkami argumentai!
SyntaxException= Neteisinga sintaksė!
LoopExecute= Failas scenarijus jau vykdomas! Praleista...
NoHistory= -Nėra ankstesnės istorijos-
HistHeading= --Paskutinės %3d komandos--
NoSuchCommand= nėra vidinė ar išorinė komanda, vykdomasis scenarijus ar paketo failas
CollectionLoad= Įkeliama kolekcija iš failo...
DataFileNotFound= – duomenų failas nerastas. Jokie duomenys nebus įkeliami
DataNoAccess= – Nėra prieigos prie nurodyto duomenų failo. Duomenys nebus įkeliami
DataIOError= – netvarkoma IO išimtis skaitant duomenų failą. Jokie duomenys nebus įkeliami
EmptyCollection= Kolekcija tuščia!
Done= Atlikta.
Total= Iš viso – %d elementų
FieldList=Vardas, Koordinatė X – Double, Koordinatė Y – Integer,Augtis – >0,Gimtadienis/Pavyzdys>2020-06-22,Akių spalva/BLUE ORANGE BROWN,Plaukų spalva/RED BLUE YELLOW ORANGE,Vietos koordinatė X – Float, Vietos koordinatė Y – Float, vietos pavadinimas
TypeField= Įveskite lauką>
EmptySearch= Tuščia paieška!
CommandList=help/info/show/add/update/remove_by_id/clear/save/execute_script/exit/remove_first/remove_lower/history/filter_greater_than_birthday/print_ascending/print_field_descending_location
Reconnecting= Bandoma prisijungti prie serverio...
ConnectionAccept= Sėkmingai prisijungta prie serverio.
ConnectionFalse= Nepavyko prisijungti prie adreso... Patikrinkite tinkamumą.
ConnectionFail= Kolekcijos serveris nepasiekiamas...
CannotConnect= Nepavyksta prisijungti prie serverio. Pabandyk vėliau.
ReconnectIn= Prisijungiama iš naujo po 10 sekundžių...
NotConnected= Prie serverio neprisijungta!
DataLoss= Ryšys nutrūko! Bandoma vėl prisijungti...
NoResponse= Serveris tinkamai neatsakė...
Offline= Tęskite, ar norite likti neprisijungę.
Closing= Uždaromas ryšys su serveriu...
RequestError= Nutrūko ryšys su serveriu. Prisijunkite iš naujo
NewAcc= Užregistruota nauja paskyra >>>
SucAcc= Sėkmingas prisijungimas>>>
Queue = Serveris yra labai apkrautas. Laukiama duomenų...
CliMode=Console režimas!
RegTitle = Registracija / įgaliojimas
Console = konsolė
Table=Lentelė
Title=Žmonių kolekcija
LoginLabel=|----<Prisijungti>----|
PassLabel=|--<Slaptažodis>--|
Re-login=Pakartotinis prisijungimas
Exit=Išeiti
Refresh=Atnaujinti
Graphic=Grafinė informacija
LoginRule=Prisijungimą turi sudaryti bent 4 simboliai
PassRule=Slaptažodį turi sudaryti bent 4 simboliai
Add=Pridėti
Cancel=Atšaukti
OK=Gerai